<div class="d-flex justify-content-between align-items-center my-3">
  <h5 class="text-primary fw-bold">📋 Lista de Comprobantes</h5>
  <button (click)="postNewComprobante()" cButton color="success">
    <c-icon name="cil-file"></c-icon> Nuevo Comprobante
  </button>
</div>

<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header class="bg-light">
      <strong>Comprobantes Registrados</strong> <small>Lista actualizada</small>
    </c-card-header>
    <c-card-body>
      <div class="table-responsive">
        <table cTable class="table table-hover table-bordered">
          <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Serie</th>
            <th scope="col">Número</th>
            <th scope="col">Fecha Emisión</th>
            <th scope="col">Cliente</th>
            <th scope="col">Tipo Comprobante</th>
            <th scope="col">Moneda</th>
            <th scope="col">Total</th>
            <th scope="col" class="text-center">Opciones</th>
          </tr>
          </thead>
          <tbody>
            @for (comprobante of comprobantes; track comprobante.id) {
              <tr>
                <th scope="row">{{ comprobante.id }}</th>
                <td>{{ comprobante.serie }}</td>
                <td>{{ comprobante.numero }}</td>
                <td>{{ comprobante.fechaEmision | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ comprobante.cliente?.nombre }}</td>
                <td>{{ comprobante.tipoComprobante }}</td>
                <td>{{ comprobante.moneda }}</td>
                <td>{{ comprobante.total | currency: 'PEN' }}</td>
                <td class="text-center">
                  <button (click)="goDelete(comprobante.id)" cButton color="danger">
                    <c-icon name="cil-trash"></c-icon>
                  </button>
                  <button cButton color="info" (click)="openModal(comprobante)">
                    <c-icon name="cil-magnifying-glass"></c-icon>
                  </button>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </c-card-body>
  </c-card>
</c-col>
<app-comprobante-modal [comprobante]="selectedComprobante" [(isVisible)]="isModalVisible"></app-comprobante-modal>
